@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  padding-left:20px;
  padding-top:20px;
 
  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;
      
      @include lg{
        padding-right: 50px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 44px;

        @include lg {
          font-size: 38px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 16px;

          @include lg {
            font-size: 22px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      height: 85vh;
      right: 0;
      border-top-left-radius: 400px;
      border-bottom-left-radius: 400px;
      
      @include lg {
        width: 105%;
      }
    }
  }
}
